<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Mentions légales</title>
    <link rel="stylesheet" th:href="@{/css/style.css(v=10)}">
    <link rel="icon" type="image/png"
          th:href="@{/favicon.png(v=1791073844)}"
          href="/favicon.png?v=1791073844">
    <link rel="apple-touch-icon"
          th:href="@{/favicon.png(v=1791073844)}"
          href="/favicon.png?v=1791073844">

    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#2563eb">
    <link rel="apple-touch-icon" href="/icons/icon-192.png">
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<main class="container section">
    <div class="formulaire texte-legal">
        <h1>Mentions légales</h1>

        <h2>Editeur du site</h2>
<p>
    <strong>Nom :</strong> Djafour Yanis<br>
    <strong>Email :</strong>
    <a href="mailto:yanisroum01@gmail.com">yanisroum01@gmail.com</a>
</p>

        <h2>Nature du site</h2>
        <p>
            Ce site présente du matériel proposé à la vente.
            Aucun paiement n’est réalisé directement sur ce site.
        </p>

        <h2>Plateformes externes</h2>
        <p>
            Les transactions peuvent être finalisées sur Vinted ou
            Leboncoin. Ce site n’est ni affilié ni sponsorisé par ces
            plateformes.
        </p>
    </div>
</main>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
